<nav [ngClass]="{'navbar-affix': affix}" class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="nav-container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse rounded px-4 justify-content-center" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-agh-logo">
                    <img class="nav-agh-logo-img" src="assets/img/agh_logo.jpg">
                </li>
                <li class="nav-top">
                    <a class="nav-link js-scroll-trigger" routerLink="" i18n="Navbar">Flexible Video Archive</a>
                </li>
                <li class="nav-option-1">
                    <a class="nav-link js-scroll-trigger" routerLink=""><i class="fa fa-eject icon"></i>Option 1</a>
                </li>
                <li class="nav-option-2">
                    <a class="nav-link js-scroll-trigger" routerLink=""><i class="fa fa-eject icon"></i>Option 2</a>
                </li>
                <li class="nav-option-3">
                    <a class="nav-link js-scroll-trigger" routerLink=""><i class="fa fa-eject icon"></i>Option 3</a>
                </li>
                <li class="nav-login">
                    <a class="nav-link js-scroll-trigger" routerLink=""><i class="fa fa-user text-white icon"></i>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>