<div style="margin-top: 2rem; margin-bottom: 2rem">
    <img src="assets/img/play.png" id="icon" style="width: 150px;" />
    <p id="paragraph" style="margin-top: 0.5rem;">Flexible Video Archive</p>
</div>

<div class="form-style-8">
    <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
        <input type="text" #login="ngModel" [(ngModel)]="userService.selectedUser.login" name="login"
            placeholder="Login" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !login.valid }">
        <div *ngIf="signUpForm.submitted && !login.valid">
            <label class="validation-message" style="color: #dc3545">Login is required.</label>
        </div>
        <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email"
            placeholder="Email" required [pattern]="emailRegex"
            [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
        <div *ngIf="signUpForm.submitted && email.errors">
            <label *ngIf="email.errors.required" class="validation-message" style="color: #dc3545">Email is
                required.</label>
            <label *ngIf="email.errors.pattern" class="validation-message" style="color: #dc3545">Invalid email
                address.</label>
        </div>
        <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
            placeholder="Password" minlength="8" required
            [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
        <div *ngIf="signUpForm.submitted && password.errors">
            <label *ngIf="password.errors.required" class="validation-message" style="color: #dc3545">Password is
                required.</label>
            <label *ngIf="password.errors.minlength" class="validation-message" style="color: #dc3545">Password must
                contain at least 8
                characters.</label>
        </div>
        <div>
            <input type="submit" value="Sign Up">
        </div>
    </form>
</div>

<div class="success" *ngIf="showSuccessMessage">
    Registered successfully!
</div>

<div class="alert" *ngIf="serverErrorMessage">
    {{serverErrorMessage}}
</div>